.item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h3 {
	font-size: 1rem;
	font-weight: 100;
}

mat-icon {
	/* display: none; */
	color: rgba(0, 0, 0, .2);
	font-weight: 100;
	margin-left: 5px;
	transform: scale(0.7);
	transition: .12s ease;
}

mat-icon:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, .8);
}

input {
	width: 100%;
	border: 3px solid rgba(0, 0, 240, .3);
	border-radius: 5px;
	background: transparent;
	padding: 4px 6px;
	font-size: 1rem;
	font-weight: 100;
	color: rgba(0, 0, 0, .8);
	transition: .12s ease;
}
