<div *ngIf="!error">
    <p> Username: {{ username }} </p>
    <div *ngIf="true">

        <button *ngIf="!friend" (click)="addFriend()"> Add as friend </button>
        <button *ngIf="friend" (click)="deleteFriend()"> Remove as friend</button>
        <button *ngIf="!blocked" (click)="blockUser()"> Block user </button>
        <button *ngIf="blocked" (click)="unblockUser()"> Unblock user </button>
        <button> Invite to play </button>
    </div>
</div>
<div *ngIf="error">
    Could not load user details
</div>