<style>
    .background-one {
        background-color: rgb(223, 223, 223);
        width: 400px;
        height: 600px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        position: fixed;
    }

    .contact:hover {
        background-color: hotpink;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .tab {
        position: relative;
        width: 1px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tab:hover {
        background-color: hotpink;
    }

    .mat-tab-body-wrapper {
        background-color: royalblue;
        bottom: 12px;
    }

    .friend {
        background: linear-gradient(90deg, rgb(62, 119, 57), rgb(223, 223, 223) 90%);
        height: 15px;
        padding-top: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        vertical-align: middle;
        cursor: default;
        font-weight: bold;
        position: relative;
    }

    .friend:hover {
        background: linear-gradient(90deg, rgb(129, 63, 2), rgb(223, 223, 223) 90%);
    }

    .messages {
        cursor: default;
        word-break: break-all;
        user-select: none;
        margin-top: 5px;
        
    }

    .messages.mine {
        margin-right: 10px;
    }

    .messages.yours {
        margin-left: 10px;
    }

    .test:before {
        position: absolute;
        content: "";
        background-color: cornflowerblue;
        width: 5px;
        height: 100%;
        margin-right: 5px;
        margin-left: 2px;
    }

    .messages:hover {
        background-color: rgb(143, 143, 143);
    }

    .channel:hover {
        background-color: rgb(165, 164, 164);
    }

    .ChatInformation {
        height: 50px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .btn {
        position: absolute;
        cursor: pointer;
        border-radius: 50%;
    }

    .btn:hover {
        background-color: rgb(206, 206, 206);
    }
</style>


<div class="background-one">
    
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" fitInkBarToContent=false  (selectedTabChange)="openFriendList($event)">
            
            <mat-tab>
                <ng-template mat-tab-label>
                    <p>
                        <mat-icon matBadge="15" matBadgeColor="warn">chat_bubble</mat-icon>
                        <!-- Include text description of the icon's meaning for screen-readers -->
                    </p>
                </ng-template>
            
            <div *ngIf="!showChat" id="roomsList" style="height: 400px;">
                <div *ngFor="let channel of channelList">
                    <div style="position: relative; height: 25px; cursor: pointer;" (click)="openChannel(channel)" class="channel">
                        <mat-icon *ngIf="channel.access == 1" style="position: absolute;"> lock </mat-icon>
                        <mat-icon *ngIf="channel.access == 0" style="position: absolute;"> lock_open </mat-icon>
                        <mat-icon *ngIf="channel.access == 2" style="position: absolute;"> block_icon </mat-icon>
                        
                        <div style="position: absolute; left: 25%; top: 50%; transform: translate(0, -50%); ">
                            {{ channel.name }}
                        </div>
                        <mat-icon style="position: absolute; left: 90%; top: 50%; transform: translate(0, -50%); ">keyboard_arrow_right</mat-icon>

                    </div>
                </div>
            </div>
            <div *ngIf="showChat" style="overflow: hidden; height: 550px; width: 400px">
                <div class="ChatInformation" style="position: relative; height: 50px;">
                    <div style="position: absolute; top: 0%; left: 50%; transform: translate(-50%, 0); text-decoration: underline;">
                        {{ chat.name }}
                    </div>
                    <mat-icon (click)="openFriendList()" style="position: absolute; top: 0%; left: 0%; cursor: pointer;"> keyboard_arrow_left </mat-icon>
                    <mat-icon (click)="inviteFriend()" class="btn" style="bottom: 0%; right: 0%; margin-right: 15px;"> person_add</mat-icon>
                    <mat-icon (click)="openSpec()" class="btn" style="bottom: 0%; left: 0%; margin-left: 15px;"> remove_red_eye </mat-icon>
                </div>
                <div style="height: 85%; width: 100%; position: relative; background-color: rgb(189, 153, 153); overflow-x: hidden; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
                    <div *ngFor="let msg of messages; let index = index">
                        <div style="position: relative;">
                            <div class="test">
                                <div class="messages yours">
                                    {{ msg.message }}
                                </div>
                            </div>
                        </div>
                        <div style="font-size:75%; cursor: pointer; display: inline-block;" (click)="openUserDialog(msg.username)" *ngIf="index == messages.length - 1 || msg.username != messages[index + 1].username">
                            {{ msg.username }}
                        </div>
                    </div>
                </div>
                <div >
                    <input type="text" placeholder="Enter text.." style="width: -webkit-fill-available;">
                    
                </div>
            </div>
            
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <p>
                    <mat-icon matBadge="2" matBadgeColor="warn">contacts</mat-icon>
                      <!-- Include text description of the icon's meaning for screen-readers -->
                  </p>
            </ng-template>
            <div id="friendRequests" *ngIf="!showChat">
                <div *ngFor="let friend of friendRequests" (mouseover)="focusFriend(friend.username)" (mouseleave)="unfocusFriend()" class="friend">
                    <div>
                        {{ friend.username }}
                    </div>
                    <mat-icon *ngIf="focus == friend.username" style="position: absolute ;cursor: pointer; margin-right: 20px; transform: translate(0, -50%); top: 50%; left: 80%" (click)="openFriendChat(friend)">mail_outline</mat-icon>
                    <mat-icon *ngIf="focus == friend.username" style="position: absolute ;cursor: pointer; margin-right: 10px; transform: translate(0, -50%); top: 50%; left: 70%">gamepad</mat-icon>
                </div>
            </div>
            <div *ngIf="showChat" style="overflow: hidden; height: 600px; width: 400px; position: relative;">
                <div style="height: 85%; width: 100%; position: relative;">
                    <div *ngFor="let msg of messages; let index = index">
                        <div style="position: relative;">
                            <div class="test">
                                <div class="messages yours">
                                    {{ msg.message }}
                                </div>
                            </div>
                        </div>
                        <div style="font-size:75%;" *ngIf="index == messages.length - 1 || msg.username != messages[index + 1].username">
                            {{ msg.username }}
                        </div>
                    </div>
                </div>
                <div style="height: 14%;">
                    <input type="text" placeholder="Enter text.." style="width: -webkit-fill-available">

                    <button style="height: 100%; width: auto;"> Send </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>

      