<script src="../service/user_api/user-api.service.ts"></script>
<mat-toolbar [ngClass]="'container'">
<div>
  <button mat-raised-button mat-icon-button class="item">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-raised-button mat-icon-button class="item" >
    <mat-icon>sports_esports</mat-icon>
  </button>
</div>

<span>{{ title }}</span>

<div>
  <button mat-raised-button mat-icon-button class="item">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-raised-button mat-icon-button class="item">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-raised-button mat-icon-button class="item" (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
</mat-toolbar>

<div>
	<img [src]="qrCode" alt="QR-code" *ngIf="twoFaActive"/>
</div>
<button (click)="turnOnTwoFa()" *ngIf="!twoFaActive">Turn on 2Fa</button>
<button (click)="turnOffTwoFa()" *ngIf="twoFaActive">Turn off 2Fa</button>

<p class="main">main</p>
