<mat-toolbar [ngClass]="{
    'container': checkConnexion(),
    'container_logout': !checkConnexion()
  }">
  <div *ngIf="checkConnexion()">
    <button mat-raised-button mat-icon-button class="item">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button class="item" >
      <mat-icon>sports_esports</mat-icon>
    </button>
  </div>

  <span>{{ title }}</span>

  <div *ngIf="checkConnexion()">
    <button mat-raised-button mat-icon-button class="item">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button class="item">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-raised-button mat-icon-button class="item">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>