.user-preference-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 20px;
	background-color: rgba(0, 0, 0, .12);
}

.user-preference-container h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 50px;
}

.user-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* background-color: rgba(0, 0, 0, .12); */
}

/* avatar */
.user-header img {
	width: 120px;
	object-fit: cover;
	border-radius: 50%;
	transition: .12s ease;
}

.user-header img:hover {
	cursor: pointer;
	filter: grayscale(0.6) brightness(0.5);
}

.user-header div {
	margin: 0 20px;
}
